.header{
    background-color: greenyellow;
    font-size: 0;
    
}
.nav {
    display: inline-block;
    width: calc(100% - 80px);
    font-size: 20px;
   

    }


.right{
    display: inline-block;
    margin: 20px;
}
.brand img {
    width:80px;
    /* margin: 20px; */
}
.brand,.nav{
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.headbox{
    
}